.error {
  color: red;
}

.form {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;

  &.formInline {
    display: flex;
    margin: 0;

    .formGroup {
      margin: 0;

      & + .formGroup {
        margin-left: 0.5em;
      }
    }

    input[type="submit"] {
      border: 3px solid var(--color-primary);
      border-radius: 0.25em;
    }
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.25em;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0.75em 1em;
    border: 3px solid var(--color-primary);
    background: #fff;
    border-radius: 0.25em;

    &:focus {
      outline-color: black;
    }
  }

  input[type="submit"] {
    padding: 0.75em 1.25em;
    background: var(--color-primary);
    color: white;
    border: none;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    outline-color: black;
  }
}

.formFooter {
  margin-top: 3em;
  color: #888;

  a {
    font-weight: 700;
  }

  &:before {
    content: "";
    display: block;
    width: 5em;
    height: 1px;
    background: #ddd;
    margin-bottom: 2em;
  }
}

.formGroupSubmit {
  flex-direction: row;
}

.notification {
  background: #fafafa;
  padding: 1em;
  color: #888;

  &Error {
    color: white;
    background-color: tomato;
  }
}
